html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #050537;
}

.request-bar {
    margin: 10px auto 0 auto;
    width: 50%;
    height: 30px;
}

.request-bar input {
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
    width: 75%;
    height: 100%;

    font-family: monospace;
    font-size: 15px;
    color: #050505;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline: none;
    border: none;
}

.request-bar button {
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;

    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #373769;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    outline: none;
    border: none;
}

.request-bar button:hover {
    cursor: pointer;
    background-color: #69699b;
}

.request-bar button:active {
    background-color: #fff;
}

.response-view {
    overflow: scroll;
    margin: 10px auto;
    padding: 10px;
    width: calc(50% - 20px);
    height: calc(100vh - 80px);
    background-color: #056937;
    border-radius: 15px;
}

.response-view::-webkit-scrollbar {
    display: none;
}

.response-view .item {
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
}

.response-view .item:first-child {
    margin: 0;
}

.item p {
    margin: 0;
    padding: 10px;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 15px;
}

.response-view button {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #379b69;
    border-radius: 15px;
    outline: none;
    border: none;
}

.response-view button:hover {
    cursor: pointer;
    background-color: #69cd9b;
}

.response-view button:active {
    background-color: #fff;
}
